body {
background-color: #cceeff;
}
h1 {
float: center;
text-align: center;
border-style: ridge;
border-colour: #000000;
background-color: #ffffff;
color: #000000;
font-family: "Copperplate", fantasy;
}
.button {
  background-color: #3F4ABF;
  border: double;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color:#3F4ABF,
  color: #ffffff;
}
  .button1:hover {
  background-color: #ffffff;
  color: #000000;
}
