body {
background-color: #cceeff;
}
h1 {
float: center;
text-align: center;
border-style: ridge;
border-colour: #000000;
background-color: #ffffff;
color: #000000;
font-family: "Copperplate", fantasy;
}
h2 {
  float: center;
  text-align: center;
  color: #5A91C8;
  font-family: "Copperplate", fantasy;
  font-size: 25px;
}
.button {
  background-color: #3F4ABF;
  border: double;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Verdana", "Helvetica", sans-serif;
  float: center;
}
.button1 {
  background-color:#3F4ABF,
  color: #ffffff;
}
  .button1:hover {
  background-color: #ffffff;
  color: #000000;
}
.div1 {
border-style: solid;
border-color: #000000;
border-width: 5px;
background-color: #ffffff;
width: 320px;
height: 350px;
font-family: "Monaco", "Lucida Console", monospace;
font-size: 15px;
text-align: left;
position: absolute;
top: 100px;
right: 100px;
}
